@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@font-face {
  font-family:'lovelace';
  src: url(font/lovelace.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}


/*----navbar----*/
#u
{
    background-color: #EFF1EC;
}
.navbar-brand
{
padding: 25px;
}






/*---imagem modelo---*/

.form-image 
{
display: flex;
justify-content: right;
align-items: right;
position: absolute;
width: 508px;
height: 558px;
left: 840px;
top: 94px;
}

/*--formulario--*/
.formulario
{
  display: flex;
  justify-content: left;
  align-items: left;
  position: absolute;
  width: 508px;
  height: 558px;
  left: 80px;
  top: 250px;
}

form
{
  font-family: 'Poppins',Arial, sans-serif;

}

form div
{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input, textarea
{
  outline: unset;
  padding: 10px;
  width: 810px;
  border:none;
  border-radius: 36px;
  background-color: rgb(255, 255, 255);
}


form input[name=mensagem]
{
padding: 45px;
outline: unset;

}

form input[type=submit]
{
 background-color: black;
 color:white;
 width: 110px;
 height: 45px;
}

form label
{
  margin-left: 10px;
}


/*--responsividade do formulário--*/
@media screen and (max-width: 800px) 
{
   .form-image{
    display:none;
   }

   .formulario{
    width:50%;
    top:40px;
    left:20px;
    position: relative;
  }


    form input, textarea
    {
      padding: 10px;
      width: 630px;

    }
    
   
}

@media (max-width:600px){

  form input, textarea
  {
    padding: 10px;
    width: 350px;

  }

  .formulario{
    width:50%;
    top:40px;
    left:20px;
    position: relative;
  }
}




/*--fim do formulario--*/


/*--texto de apresentação--*/
main aside h1{
  color:black;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  margin-left: 53px;
  margin-top: 1px;
  max-width: 300px;
  font-family: 'lovelace',Arial, sans-serif;
  text-shadow: 0.1em 0.1em 0.2em rgb(155, 151, 151)
}


main aside p{
  font-size: 17,5px;
  color:black;
  margin-top: 5px;
  margin-left: 90px;
  font-weight: 500;
  text-align: justify;
  max-width: 750px;
  font-weight: bold;
}




/*----respondividade texto----*/
@media screen and (max-width:768px){
  main{
    flex-direction: column;
  }

main{
  align-self: center;
}
main aside p{
  font-size: 17,5px;
  margin-left: 33px;
  max-width: 500px;
}
main aside h1{
  color:black;
  line-height: 50px;
  font-weight: 500;
  text-align: left;
  margin-left: 33px;
}

}


@media (max-width:600px){
  main{
    flex-direction: column;
    align-self: center;
  }


main aside p{
  align-items: baseline;
  font-size: 17,5px;
  color:black;
  margin-top: 15px;
  font-weight: 500;
  text-align: justify;
  margin-left:5%;
  font-weight: bold;
}
main aside h1{
  color:black;
  line-height: 50px;
  font-weight: 500;
  margin-left: 23px;
}

}
/*----fim_responsividade----*/

/*--fim do texto de apresentação--*/

 

   /*----rodapé----*/
 *{
  font-family: 'Poppins',sans-serif;
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

footer {
  flex-shrink: 0;
  background-color: #F8FAF5;
  padding: 50px 0;
  width:100%;
  bottom: 0;
  left: 0;
}

.espaco
{
  padding:195px;
}



.container-footer{
  max-width: 1400px;
  padding: 0 4%;
  margin: auto; 
}
.row-footer{
  display: flex;
  flex-wrap: wrap;
} 
.footer-col{
 width: 20%;
 padding: 0 15px;
}
.footer-col h6{
  font-size: 11,5px;
  color:black;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
.footer-col ul{
list-style: none;
}
.footer-col ul li{
margin: 10px 0;
}
.footer-col ul li a{
font-size: 11,5px;
font-weight: 300;
display: block;
transition: all 0.3s ease ;
text-decoration: none;
color: #6d6d6d
}
.footer-col ul li a:hover{
color:#000000 ;
padding-left: 10px; 
}
.footer-sub{
font-size: 11,5px;
color:black;
margin-top: 80px;
font-weight: 500;
position: relative;
}
.footer-sub button{  
width: 100%;
margin-top: 0px;
padding: 10px;
font-size: 11,5px;
outline: none;
border: none;
cursor: pointer;
color: white;
border-radius: 30px;
background-color: #000000;
}
.footer-col a img {
all: unset;
cursor: pointer;
outline: revert;
height: -100px; 
width: 70%;
padding: 10px;
margin-top: 60px;
position: relative;
}


a:link
{
  text-decoration: none;
  text-decoration-color: #000;
}
/*---responsivo---*/
@media (max-width:800px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
} 
@media (max-width:600px){
.footer-col{
  width: 100%;
}
}
/*----fim_do_rodapé----*/

